body {
  border-top: 5px solid #fa6868;
  background: #f7f7f7;
  background: #f7f7f7;
  font-size: 90%;
  color: #3f3f3f;
  line-height: 1.8em;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Mayryo", "MS Pゴシック", "MS PGothic", sans-serif;
}
